{% extends 'base.html.twig' %}

{% block title %}Index des réponses{% endblock %}

{% block body %}
    <h1>Index des réponses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro de réponse</th>
                <th>Réponse</th>
                <th>Date de résolution</th>
                <th>Lien de la doc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.description }}</td>
                <td>{{ answer.resolvedAt ? answer.resolvedAt|date('d-m-Y à H:i') : '' }}</td>
                <td>{{ answer.docLink }}</td>
                <td>
                    <a href="{{ path('app_answers_edit', {'id': answer.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
