{% extends 'base.html.twig' %}

{% block title %}Answers{% endblock %}

{% block body %}
    <h1>Answers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ answer.description }}</td>
            </tr>
            <tr>
                <th>Resoluted_at</th>
                <td>{{ answer.resolutedAt ? answer.resolutedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DocLink</th>
                <td>{{ answer.docLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_answers_index') }}">back to list</a>

    <a href="{{ path('app_answers_edit', {'id': answer.id}) }}">edit</a>

    {{ include('answers/_delete_form.html.twig') }}
{% endblock %}
