{% extends 'base.html.twig' %}

{% block title %}Réponses{% endblock %}

{% block body %}
    <h1>Réponses</h1>

    <table class="table-responsive">
        <tbody>
            <tr>
                <th>Numéro de réponse</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ answer.description }}</td>
            </tr>
            <tr>
                <th>Date de résolution</th>
                <td>{{ answer.resolutedAt ? answer.resolutedAt|date('d-m-Y à H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Lien vers la doc</th>
                <td>{{ answer.docLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_answers_index') }}">Retour</a>

    <a href="{{ path('app_answers_edit', {'id': answer.id}) }}">Modifier</a>

    {{ include('answers/_delete_form.html.twig') }}
{% endblock %}
