<aside class="col-md-2 p-0 h-100">
    <nav class="navbar navbar-expand-md flex-md-column flex-row align-items-start navbar-dark bg-dark" id="sidebar">
        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item mt-3 mb-3">
                <a class="nav-link" href="{{ path('app_tickets_new') }}">
                    <i class="fa-solid fa-plus"></i>
                    Nouveau ticket</a>
            </li>
            <div class="searchBar mb-3">
                {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
            </div>
            <li class="nav-item mb-3">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fa-solid fa-house"></i>
                    Tickets en cours</a>
            </li>
            <li class="nav-item mb-3">
                <a class="nav-link" href="{{ path('app_tickets_index') }}">
                    <i class="fa-regular fa-square-check"></i>
                    Tickets résolus</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item mb-3">
                    <a class="nav-link" href="{{ path('app_user_index') }}">
                        <i class="fa-solid fa-user"></i>
                        Utilisateurs</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>