{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard" style="height: 85vh;">
			<h1>Créer un utilisateur</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}

			<div class="bloc">
				<label for="{{ registrationForm.firstName.vars.id }}">Prénom</label>
				{{ form_widget(registrationForm.firstName, {
				attr: {
					'class': 'custom-form'
				}
			}) }}

				<label for="{{ registrationForm.lastName.vars.id }}">Nom</label>
				{{ form_widget(registrationForm.lastName, {
				attr: {
					'class': 'custom-form'
				}
			}) }}
			</div>

			<div class="bloc">
				<label for="{{ registrationForm.email.vars.id }}">Email</label>
				{{ form_widget(registrationForm.email, {
                attr: {
                    'class': 'custom-form'
                }
            }) }}

				<label for="{{ registrationForm.plainPassword.vars.id }}">Mot de passe</label>
				{{ form_widget(registrationForm.plainPassword, {
                attr: {
                    'class': 'custom-form',
                    'placeholder': '6 caractères minimum'
                }
            }) }}
			</div>

			<button type="submit" class="button">Valider</button>

			{{ form_end(registrationForm) }}
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
