{% extends 'base.html.twig' %}

{% block title %}Index des utilisateurs
{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard">
			<h1>Index des utilisateurs <a href="{{ path('app_register') }}" class="btn"><i class="fa-solid fa-plus"></i></a></h1>

			<table>
				<thead>
					<tr>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Email</th>
						<th>Rôle</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td data-label="Nom :">{{ user.firstName }}</td>
							<td data-label="Prénom :">{{ user.lastName }}</td>
							<td data-label="Email :">{{ user.email }}</td>
							<td data-label="Rôle :">{{ user.roles ? user.roles|json_encode : '' }}</td>
							<td>
                                <div class="actionsTable" data-label="Actions :">
                                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"class="btn"><i class="fa-solid fa-pencil"></i></a>
                                    {{ include('user/_delete_form.html.twig') }}
                                </div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
