{% extends 'base.html.twig' %}

{% block title %}Gestionnaire de tickets
{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard">
			<h1>Tableau de bord</h1>

			<!--RANKINGS OF TICKETS AND BEST TECHNICIEN-->
			<div class="ranking">
				<div class="openedTickets" id="filterOpenTickets">
					<div class="rank">{{ openedTicketsCount }}</div>Tickets en cours
				</div>
				<div class="closedTickets" id="filterClosedTickets">
					<div class="rank">{{ closedTicketsCount }}</div>Tickets résolus
				</div>
				<div class="bestTech">
					<div class="rank">
						{% if bestTechnician %}
							{{ bestTechnician.firstName }}
							{{ bestTechnician.lastName }}{% else %}Aucun technicien trouvé
						{% endif %}
					</div>
					Best tech !
				</div>
			</div>

			<!--DASHBOARD OF OPENED TICKETS-->
			<section id="openedTickets">
				<div class="all-tickets">
					{% for ticket in tickets %}
						<div class="each-ticket">
							{% for file in ticket.files %}
								{% if loop.first %}
									<img src="{{ asset('assets/uploads/tickets/' ~ file.file) }}" alt="impression écran">
								{% endif %}
							{% endfor %}
							<p>Auteur :
								{{ ticket.user.firstName }}
								{{ ticket.user.lastName }}</p>
							<div class="statusBtn {% if ticket.status == 'Ouvert' %}open{% else %}closed{% endif %}">
								{{ ticket.status }}
							</div>
							<p>Titre :
								{{ ticket.title }}</p>
							<small style="margin-bottom:10px;">Créé le
								{{ ticket.createdAt ? ticket.createdAt|date('d-m-Y à H:i') : '' }}</small>

							{% if ticket.answers is not empty %}
								<p>Répondu par :
									{% for answer in ticket.answers %}
										{{ answer.user.firstName }}
										{{ answer.user.lastName }}
									{% endfor %}
								</p>
							{% endif %}
							<a href="{{ path('app_tickets_show', {'id': ticket.id}) }}">
								<i class="fa-solid fa-magnifying-glass-plus"></i>
							</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}

	<script>
	// Animation to filter the tickets by status
		document.addEventListener('DOMContentLoaded', function () {
		const openTicketsButton = document.getElementById('filterOpenTickets');
		const closedTicketsButton = document.getElementById('filterClosedTickets');

		const allTickets = document.querySelectorAll('.each-ticket');

		openTicketsButton.addEventListener('click', function () {
		filterTickets('Ouvert');
		});

		closedTicketsButton.addEventListener('click', function () {
		filterTickets('Fermé');
		});

		function filterTickets(filter) {
			allTickets.forEach(function (ticket) {
			const status = ticket.querySelector('.statusBtn').textContent.trim();

				if ((filter === 'Ouvert' && status === 'Ouvert') || (filter === 'Fermé' && status === 'Fermé')) {
				ticket.style.display = 'flex';
				} else {
				ticket.style.display = 'none';
				}
			});
		}
		});

		// Javascript animation
		document.addEventListener('DOMContentLoaded', function () {
			const christmasMessage = `🦄 Les développeuses sont dans la place ! ✨`;

			console.log('%c ' + christmasMessage, 'color: violet; font-size: 16px;');
		});
	</script>
{% endblock %}
