{% extends 'base.html.twig' %}

{% block title %}Tickets résolus
{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard">
			<h1>Tickets résolus</h1>

			<table>
				<thead>
					<tr>
						<th>Auteur</th>
						<th>Statut</th>
						<th>Titre</th>
						<th>Contenu</th>
						<th>Créé le</th>
						<th>Réponse</th>
						<th>Tech</th>
						<th>Lien doc</th>
						<th>Répondu le</th>
					</tr>
				</thead>
				<tbody>
					{% for ticket in tickets %}
						<!--DISPLAY ONLY CLOSED TICKETS-->
						{% if ticket.status == 'fermé' %}
							<tr>
								<!--GETTING USER WHO HAS CREATED THE TICKET-->
								<td>{{ ticket.user.firstName }}</td>
								<td>{{ ticket.user.lastName }}</td>
								<td>{{ ticket.title }}</td>
								<td>{{ ticket.content }}</td>
								<td>{{ ticket.createdAt ? ticket.createdAt|date('d-m-Y à H:i') : '' }}</td>
								{% for answer in ticket.answers %}
									<td>{{ answer.description }}</td>
									<!--GETTING USER WHO HAS RESOLVED THE TICKET-->
									<td>{{ answer.user.firstName }}
										{{ answer.user.lastName }}</td>
									<td>{{ answer.docLink }}</td>
									<td>{{ answer.resolvedAt ? answer.resolvedAt|date('d-m-Y à H:i') : '' }}</td>
								{% endfor %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}
{% endblock %}
