{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
	{% include "_partials/_header.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="col-md-10 m-0" id="dashboard">
			<h1>Ticket</h1>
			<table>
				<tbody>
					<tr>
						<th>Numéro de ticket</th>
						<td>{{ ticket.id }}</td>
					</tr>
					<tr>
						<th>Statut</th>
						<td>{{ ticket.status }}</td>
					</tr>
					<tr>
						<th>Titre</th>
						<td>{{ ticket.title }}</td>
					</tr>
					<tr>
						<th>Contenu</th>
						<td>{{ ticket.content }}</td>
					</tr>
					<tr>
						<th>Impressions écran</th>
						<td>
							{% for file in ticket.files %}
								<img src="{{ asset('assets/uploads/tickets/' ~ file.file) }}" alt="impression écran">
							{% endfor %}
						</td>
					</tr>
					<tr>
						<th>Date de création</th>
						<td>{{ ticket.createdAt ? ticket.createdAt|date('d-m-Y à H:i') : '' }}</td>
					</tr>
				</tbody>
			</table>
			<div class="actions">
				<a href="{{ path('app_answers_new', {'id': ticket.id}) }}" class="btn">
					<i class="fa-regular fa-comment-dots"></i>
				</a>
				{% if is_granted('ROLE_ADMIN') or ticket.user == app.user %}
					<a href="{{ path('app_tickets_edit', {'id': ticket.id}) }}" class="btn">
						<i class="fa-solid fa-pencil"></i>
					</a>
				{% endif %}
				{{ include('tickets/_delete_form.html.twig') }}
			</div>
		</div>
	</section>
	{% include "_partials/_footer.html.twig" %}

{% endblock %}
